/node_modules
.DS_Store

/.pnp
.pnp.js

# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
