@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    background: #09080C;
}

dark body {
    background: #09080C;
}

a {
    color: inherit;
    text-decoration: none;
    /* fix wrap around images */
    line-height: 0%;
}

* {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 25%;
    left: 25%;
    bottom: 25%;
    width: 50%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
}
